<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Reducir ruido de infraestructura -->
  <logger name="io.getquill" level="INFO"/>
  <logger name="com.zaxxer.hikari" level="INFO"/>
  <logger name="io.undertow" level="INFO"/>
  <logger name="org.xnio" level="WARN"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
